<html>

<head>
    <title>Vue Js tutorial</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id='app'>
        <p>{{ message }}</p>
        <p v-bind:title="datem">
            Hover your mouse over me for a few seconds to see my dynamically bound title!
        </p>
        <p v-if="seen">Now you see me</p>
        <p v-for='todo in todos'>
            {{todo.text}}
        </p>
        <button v-on:click='reverseMessage'>Reverse Message</button>
        <input v-model="seen" />
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'New Vue js app',
                datem: 'You loaded this page on ' + new Date(),
                seen: true,
                todos: [{
                    text: 'Learn JavaScript'
                    }, {
                    text: 'Learn Vue'
                    }, {
                    text: 'Build something awesome'
                    }],
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })
    </script>
</body>

</html>